streamlit
openai-whisper
torch
torchaudio
tqdm
numpy
pandas
langchain
google-generativeai
requests
beautifulsoup4
moviepy
pytube
faiss-cpu
scikit-learn
matplotlib
plotly
pydub
ffmpeg
watchdog
more-itertools
numba
sympy
jinja2
